//COLOR
$color-red-1: #BC0303;
$color-gray-1: #EFEFEF; 
$color-gray-2: #707070;
$color-dark-1: #3c3c3b;
$color-black: #000;
$color-red-selection: #ed6c77;
$color-white: #fff;

//GRID
$grid-width: 132rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem; 
$gutter-horizontal: 6rem;

//SHADOWS
$box-shadow-card: 0 1.5rem 4rem rgba($color-black, .25);
$box-shadow-card-press: 0 .5rem 2rem rgba($color-black, .5);

